<!--
  Copyright JS Foundation and other contributors, http://js.foundation
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<script type="text/x-red" data-help-name="digitaloak-postgresql-connection-manager">
    <p>Configuration for a connection to a PostgreSQL database. It uses <a href="https://node-postgres.com/">pg</a> module.</p>
    <p>This configuration will create a <a href="https://node-postgres.com/api/pool">pool</a> 
        of clients for querying database and single <a href="https://node-postgres.com/api/client">client</a> connection
        if "Listen node" option is enabled.
    <h4>SSL</h4>
        <p>Configure TLS connection.</p>   
    <h4>Listen node</h4>
        <p>If enabled, connection manager will create single database connection which will be used by listen nodes.</p>
    <h3>Pool settings</h3>
        <h4>Idle time</h4>
            <p>Number of milliseconds a client must sit idle in the pool and not be checked out
                before it is disconnected from the backend and discarded. 
                Set to 0 to disable auto-disconnection of idle clients</p>
        <h4>Max clients</h4>
            <p>Maximum number of clients the pool should contain.</p>
    <h3>Client settings</h3>
        <p>This configuration will be used by pool clients (query node) and by the single client created for the listen node.</p>
        <h4>Query timeout</h4>
            <p>Number of milliseconds before a query call will timeout, default is no timeout.</p>
        <h4>Stmt timeout</h4>
            <p>Number of milliseconds before a statement in query will time out, default is no timeout.</p>
        <h4>Timeout</h4>
            <p>Number of milliseconds to wait for connection, default is no timeout.</p>
    <h3>Statuses</h3>
        <ul>
            <li>Connected [used]/[idle]/[total]/[(waiting)]
                <ul>
                    <li>used - number of clients currently running queries</li>
                    <li>idle - number of idle clients</li>
                    <li>total - total number of clients existing in the pool</li>
                    <li>waiting - number of queued queries</li>
                </ul>
            </li>
            <li>Disconnected</li>
            <li>Connecting</li>
            <li>Disconnecting</li>
            <li>Connection failed</li>
            <li>Disconnection failed</li>
            <li>Not connected</li>
            <li>Listening</li>
            <li>Executing [num]
                <ul>
                    <li>num - number of currently running queries</li>
                </ul>
            </li>
        </ul>
        <p>"Connected" stats are refreshed using pool client, if pool will be overloaded stats will be less reliable.</p>
</script>

<script type="text/x-red" data-help-name="digitaloak-postgresql-query">
    <p>Query database.</p>
    <h3>Inputs</h3>
    <dl class="message-properties">
        <dt>query <span class="property-type">string</span></dt>
        <dd>SQL query.</dd>
    </dl>
    
    <h3>Inputs (parameterized query)</h3>
    <dl class="message-properties">
        <dt>query.text <span class="property-type">string</span></dt>
        <dd>SQL query e.g. <pre>SELECT $1 || ' ' || $2</pre></dd>
        <dt>query.values <span class="property-type">array</span></dt>
        <dd>Parameters e.g. <pre>['Hello', 'World!']</pre></dd>
    </dl>
    <h3>Inputs (parameterized transaction)</h3>
    <dl class="message-properties">
        <dt>query.text <span class="property-type">string</span></dt>
        <dd>SQL query e.g. 
<pre>BEGIN;
INSERT INTO public.users 
    (name, lastname)
VALUES($1, $2);
INSERT INTO public.users
    (name, lastname)
VALUES('Greg', 'White')
INSERT INTO public.users 
    (name, lastname)
VALUES($1, $2);
COMMIT;</pre>
        </dd>
        <dt>query.values <span class="property-type">array</span></dt>
        <dd>Parameters e.g. 
<pre>
[
    ['Jack', 'London'], 
    ['Martin','Eden']
]
</pre>
    </dd>
    </dl>
    
    <h3>Outputs</h3>
    <dl class="message-properties">
        <dt>payload <span class="property-type">object</span></dt>
        <dd><a href="https://node-postgres.com/api/result">Raw response from pg module</a>.</dd>
    </dl>
    <h3>Ports</h3>
        <h4>Input/Output</h4>
            <p>Change port availability.</p>
</script>

<script type="text/x-red" data-help-name="digitaloak-postgresql-listen">
    <p>Listens for messages in subscribed channel.</p>
    <h3>Inputs</h3>
    <dl class="message-properties">
        <dt>channel <span class="property-type">string</span></dt>
        <dd>Channel to subscribe to and listen for messages - configured via node configuration tab.</dd>
    </dl>

    <h3>Outputs</h3>
    <dl class="message-properties">
        <dt>payload <span class="property-type">string</span></dt>
        <dd>Message received in subscribed channel.</dd>
    </dl>
</script>

